{{>header}}

<body>
  <!-- ---------------------navbar--------------------------- -->
{{>LoginSignupNavbar}}
  <!-- ------------------------page-content---------------------------- -->
{{>alert}}


  <section class="forgot-main">

{{#if msg}}<p class="fs-16 text-{{type}}">{{msg}}</p>{{/if}}

    {{#if successmsg}}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
<div class="alert alert-success d-flex align-items-center flex-column justify-content-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="width: 38px !important; height: 42px;"><use xlink:href="#check-circle-fill"/></svg>
  <div class="fs-5 mt-4 text-center">
    {{successmsg}}
    <p class="text-center mt-3">Back to <a href="/Login" class="text-primary"><b>Login</b> </a></p>
  </div>
</div>
    {{else if reset}}
    <div class="card forgot-card">
  <div class="card-body">
    <h5 class="text-center mb-5 text-black">Reset your password</h5>
        <form id="forgot-form" action="/reset-password" method="post">
           <div class="mb-4">
            <input type="password" class="form-control form-control-md" name="password" placeholder="New Password"
              required />
          </div>
           <div class="mb-4">
            <input type="password" class="form-control form-control-md" name="Cpassword" placeholder="Confirm Password"
              required />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Reset password</button>
          </div>
        </form>
  </div>
</div>
{{else}}
    <div class="card forgot-card">
  <div class="card-body">
    <h5 class="text-center mb-5 text-black">Forgot your password</h5>
        <form id="forgot-form" action="/forgot-password" method="post">
          <div class="mb-4">
            <input type="email" class="form-control form-control-md" name="mailAddress" placeholder="Email Address"
              required />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
        <p class="text-center mt-3">Back to <a href="/Login" class="text-primary"><b>Login</b> </a></p>
  </div>
</div>
{{/if}}
  </section>
 
 {{>footer}}