{{>header}}

<body>
  <!-- ---------------------navbar--------------------------- -->
{{>LoginSignupNavbar}}
  <!-- ------------------------page-content---------------------------- -->
{{>alert}}

  <section class="forgot-main">
    {{#if error}}<p class="fs-16 text-{{error.[0].type}}">{{error.[0].message}}</p>{{/if}}

    {{#if success}}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
<div class="alert alert-success d-flex align-items-center flex-column justify-content-center" role="alert">
  <svg class="bi flex-shrink-0" role="img" aria-label="Success:" style="width: 38px !important; height: 42px; fill: #0f5132;"><use xlink:href="#check-circle-fill"/></svg>
  <div class="fs-5 mt-4 text-center">
    {{success}}
    <p class="text-center mt-3">Back to <a href="/Login" class="text-primary"><b>Login</b> </a></p>
  </div>
</div>
    {{else if expired}}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div class="alert alert-danger  d-flex align-items-center flex-column justify-content-center" role="alert">
  <svg class="bi flex-shrink-0 mb-4" role="img" aria-label="Danger:" style="width: 38px !important; height: 42px; fill: rgba(220,53,69)"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div class="fs-5 text-center">
    {{expired}}
        <p class="text-center mt-3">Back to <a href="/Login" class="text-primary"><b>Login</b> </a></p>
  </div>
</div>
    {{else if reset}}
    <div class="card forgot-card">
  <div class="card-body">
    <h5 class="text-center mb-5 text-black">Reset your password</h5>
        <form id="forgot-form" action="/reset-password" method="post">
           <div class="mb-4">
            <input type="password" class="form-control form-control-md" name="newPassword" placeholder="New Password"
              required />
          </div>
           <div class="mb-4">
            <input type="password" class="form-control form-control-md" name="cPassword" placeholder="Confirm New Password"
              required />
          </div>
          <input type="email" value="{{email}}" name="email" hidden>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Reset password</button>
          </div>
        </form>
  </div>
</div>
{{else}}
    <div class="card forgot-card">
  <div class="card-body">
    <h5 class="text-center mb-5 text-black">Forgot your password</h5>
        <form id="forgot-form" action="/forgot-password" method="post">
          <div class="mb-4">
            <input type="email" class="form-control form-control-md" name="mailAddress" placeholder="Email Address"
              required />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
        <p class="text-center mt-3">Back to <a href="/Login" class="text-primary"><b>Login</b> </a></p>
  </div>
</div>
{{/if}}
  </section>
 
 {{>footer}}